#!/bin/bash
# heavily modified by mmoa
#
# original by Suomela June 2015

# Let's assume we have several dirs to du

for D in {{ du_dirs }}
do
    cd $D
    du {{ du_params }} * > du-`date "+%Y-%m-%d"`
done
